@font-face {
  font-family: "Draken";
  src: url("../src/assets/fonts/Draken.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --neon-primary: #0ff;
  --neon-secondary: #4fffc7;
  --darker-bg: #0a0a0aee;
  --dark-bg: #050505c4;
  --text-primary: #ededed;
  --text-secondary: #9a9a9a;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: var(--dark-bg);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  padding-top: 60px;
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}

.main-content.show {
  opacity: 1;
  transform: translateY(0);
}

section {
  min-height: 100vh;
  padding: 0;
  margin-top: 2rem;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
}

section h2 {
  font-family: "Draken", sans-serif;
  color: var(--neon-primary);
  text-shadow: 0 0 10px var(--neon-primary);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#about {
  background-color: var(--dark-bg);
  min-height: 90vh;
}

#projects {
  background-color: var(--dark-bg);
}

#education {
  background-color: var(--dark-bg);
}

#contact {
  background-color: var(--dark-bg);
  min-height: calc(100vh - 62px);
}
