.education-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.education-timeline {
  display: flex;
  flex-direction: column;
}

.education-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.073);
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.35);
}

.education-item:hover {
  transform: translateY(-5px);
}

.education-date {
  font-weight: bold;
  color: var(--neon-secondary);
  text-shadow: 0 0 5px var(--neon-secondary);
}

.education-content {
  text-align: left;
}

.education-content h3 {
  color: var(--text-primary);
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-shadow: none;
  margin-top: 0;
}

.education-content h4 {
  text-align: center;
  color: var(--text-primary);
  font-size: 1rem;
  margin-block: 1rem;
}

.education-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education-details li {
  margin: 0.8rem 0;
  color: var(--text-primary);
  position: relative;
  padding-left: 1.5rem;
  text-shadow: none;
}

.education-details li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--text-primary);
}

@media (max-width: 768px) {
  .education-item {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .education-date {
    border-bottom: 1px solid var(--neon-primary);
    padding-bottom: 0.5rem;
  }
}
