.about-container {
  max-width: 1200px;
}

.about-container h2 {
  margin-top: 0;
}
@media (max-width: 768px) {
  .about-container h2 {
    margin-top: 2rem;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  padding: 0;
  z-index: 1;
  margin-top: 0.5rem;
}
@media (max-width: 800px) {
  .about-image {
    margin-top: 4rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.about-container-text-img {
  display: flex;
  align-items: start;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .about-container-text-img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 95%;
  }
}

.about-description {
  font-size: 1.1rem;
  color: var(--text-primary);
  padding: 0rem 1rem 1rem 1rem;
  margin-top: 0;
  transition: transform 0.3s ease;
  text-align: justify;
  line-height: 1.8;
  z-index: 1;
}
@media screen and (max-width: 980px) {
  .about-description {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .about-description {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* Styles pour les boutons */
.about-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}
@media (max-width: 476px) {
  .about-btn-container {
    flex-direction: column;
  }
}

.about-btn {
  padding: 1rem 1.5rem;
  background: transparent;
  border: 2px solid var(--neon-primary);
  color: var(--neon-primary);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
}

.about-btn:hover {
  background: var(--neon-primary);
  color: var(--dark-bg);
  box-shadow: 0 0 20px var(--neon-primary);
}
